@media all and (max-width: 580px) and (orientation: portrait){


h3{
	text-align: center;
}


h4{
	text-align: center;
	font-size: 100%;
}

#addEventCase{
		margin: 3% 0% 4% 0%;
		width: 100%;
	}

#addEventBut{
		font-size: 130%;
	}

#wrapper{
	display: flex;
	flex-direction: column;
}

.row{
	display: flex;
	flex-direction: column;
	width: 82%;
}

.content{
	width: auto;
	margin-left: unset;
}

.content p{
	font-size: 130%;

}

.likeButton{
	margin-bottom: 10%;
}

.buttonCase{
	width: unset;
	margin-left: unset;
	margin-top: 5%;
}

.fa-thumbs-up{
	border: unset;
	display: flex;
	justify-content: center;
	margin-left: unset;
}

.imgcase{
	min-height: 110px;
	width: auto;
}

}	