/* Gallery CSS  */


#wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fa-thumbs-up{
  margin-top: 1000%;
  font-size: 175%;
  padding: 0.5%;
  border: 2px solid black;
}
.fa-thumbs-up:hover{
  color: blue;
  border: 2px solid blue;
}

.commentary{
  display: none;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 2%;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

/* Content */
.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-align: left;
  background-color: rgb(255, 255, 255);
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  width: 30%;
  margin-top: 2%;
}

.tools{
  width: 60%;
  display: flex;
}

.like{
  width: 6%;
}

#comSection{
  position: absolute;
  height: auto;
  background-color: white;
  color: black;
  width: auto;
  margin: auto;
   margin-left: 36%;
  display: none;
  padding: 1% 5%;
  border: grey solid 1px;
}

.button {
	display: inline-block;
	background-color: white;
	color: black;
	border: 1px solid black;
	margin: auto;
	padding: 1%;
	border-radius: 10px;
	width: auto;
	cursor: pointer;
	text-decoration: none;
	margin-left: 87%;
}

.button:hover {
	background-color: black;
	color: rgb(235, 196, 26);
	border-color: white;
}

.buttonReport{
  display: none;
  margin: auto;
  text-decoration: none;
  float:left;
	text-align: center;
	text-decoration: none;
	color: rgb(253, 253, 253);
	background-color: rgb(252, 6, 6);
	border-style: groove;
	border-radius: 10px;
	padding: 1% 1% 1% 1%;
	font-size: 120%;
}

