.row {
  margin: auto;
  height: 30%;
}

main{
  display: flex;
  flex-direction: column;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  display: flex;
  justify-content: center;
}
#wrapper{
  width: 95%;
  margin: auto;
  height: 50%;
}
.column {
  width: 30%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  text-align : center;
  color: black;
  padding: 1% 1% 1% 1%;
  width: 100%;
  border-style: groove;
  margin-left: 3%;
  background-color: white
}

.likeButton{
	margin-bottom: 2%;
}

.fa-thumbs-up{
	margin-top: 2%;
font-size: 175%;
  margin-right:3%;
  margin-left: 40%;
  padding: 0.5%;
  border: 2px solid black;
}

h3{
	text-align: left;
	margin-left: 5%;
}
h4{
	text-align: left;
	margin-left: 5%;
	font-size: 130%;
}

.imgcase{
	height: 100%;
	width: 50%;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-position: center center;

}

.buttonCase{
	width: 20%;
	margin-left: 2%;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

.but {
	text-align: center;
	text-decoration: none;
	color: black;
	background-color: white;
	border-style: groove;
	border-radius: 10px;
}

.but:hover{
	background-color: black;
	color: white;
	border-color: black;
}
