h1 {
	text-align: left;
	margin-left: 1%;
}

html, body {
	min-height: 100vh;
}

/* CSS for the body */
body {
	font-family: Roboto, sans-serif;
	background-color: white;
	color: rgb(255, 250, 250);
	height: 100%;
	width: 100%;
	margin: 0;
}

/* CSS for the header */
header {
	margin-left: 15%;
	height: 20%;
	width: 85%;
}

/* CSS for the main */
main{
	width: 85%;
	height: auto;
	float: right;
	color: rgb(0,0,0);
	margin-left: 20%;
}

/* CSS for the footer */
  footer{
	overflow: auto;
	margin-left: 15%;
	width: 85%;
	height: 15%;
	text-align: center;
	background-color: black;
	padding: 2% 0 2% 0;
  }

.footlink{

	text-decoration: none;
	color: white;
	font-size: 150%;
	margin: 3% 4% 3% 4%;
}

.footlink:hover:not(.active) {
  color: rgb(235, 196, 26);
}  

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #000000;
font-size: 120%;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 0;
  float: left;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color : white;
  padding: 20px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  color: rgb(235, 196, 26);
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: rgb(235, 196, 26);
}

/* On screens that are less than 785px wide, make the sidebar into a topbar */
@media screen and (max-width: 785px) {
  .sidebar {
	width: 100%;
	height: auto;
	position: relative;
  }
  .sidebar a {float: left;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
	text-align: center;
	float: none;
  }
}

#logo{
  /*Height and with pof the div*/
  padding: 0;
  width: 100%;
  height: 15%;
  display: block;
  /* The image used */
  background-image: url("../img/logo.png");
  background-color: white;
  /* Scale and center the image nicely */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

#banner {
	/*Height and with pof the div*/
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1.8% 0 1.8% 0;
	/* The image used */
	background-image: url("../img/bannerIT.jpg");
	/* Scale and center the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@-moz-document url-prefix() {
    #banner {
      padding: 1.8% 0 2.2% 0;
    }
  }

/* CSS for the h3 markup */
h3{
  text-align: center;
  font-size: 200%;
}

h4{
  text-align: center;
  font-size: 150%;
}

/* CSS for the p markup */
p{
  text-align: center;
  font-size: 150%;
  padding: 2% 5% 2% 5%;
}

#bde{

    display: block;
    margin-left: auto;
    margin-right: auto
    
}


#connexion:hover{
	background-color: #000000;
	color:  rgb(235, 196, 26);
	border: 1px solid white;
}

#hello {
	text-align: center;
	background-color: #fff8f8;
	color: rgb(0, 0, 0);
	z-index: 9999;
	height: auto;
	border-radius: 10px;
	cursor: pointer;
	text-decoration: none;
	width: auto;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 1%;
	padding: 0.3%;
}

#hello:hover {
	background-color: #000000;
	color: rgb(235, 196, 26);
	border: 1px solid white;
}

#connexion {
	text-align: center;
	background-color: #fff8f8;
	color: rgb(0, 0, 0);
	z-index: 9999;
	width: auto;
	height: auto;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 1%;
	border-radius: 10px;
	padding: 0.3%;
	cursor: pointer;
	text-decoration: none;
}

#legal{
  color: white;
  text-align: center;
  display: inline-block;
}
