/* Media queries for Phone */


/* Media queries for Phone with orientation portrait*/
@media all and (max-width: 580px) and (orientation: portrait){

#basket{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
	align-items: center;
}

.buyclean{
	margin: 2% 0 5% 0;
}

}

/* Media queries for Phone with orientation landscape*/
@media all and (max-width: 750px) and (orientation: landscape){


.buyclean{
	margin: 2% 0 10% 0;
}

footer{
	width: 100%;
	margin-left: unset;
}

}	