@media all and (max-width: 780px) and (orientation: portrait){
	#logo{
		height: unset;
		width: 35%;
	}

	.sidebar{
		display: flex;
		justify-content: space-between;
	}

	header, main, footer{
		width: 100%;
		margin-left: 0;
	}
}

