/* Media queries for IPAD */


/* Media queries for IPAD with orientation portrait*/


@media all and (max-width: 780px) and (orientation: portrait){


main{
	height: 63.4vh;
}

footer{
	display: flex;
	flex-direction: column;
}


.footlink{
	margin: 1% 2% 1% 2%;
}

}