@media all and (max-width: 780px) and (orientation: portrait){

.wrapper{
	width: 90%;
}

.column{
	width: 45%;
}

}

@media all and (max-width: 1040px) and (orientation: landscape){

.wrapper{
	width: 90%;
}


}