@media all and (max-width: 500px) and (orientation: portrait){

.sidebar a {
	padding: 1%;
}

#top3 {
	margin-top: 5%;
	margin-bottom: 5%;
}

input[type=submit] {
	width: 45%;
	float: unset;
	margin-top: 5%;
}


input[type="text"] {

    width: 92%;
    text-align: center;
}    


form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.autocomplete{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}

.search-container{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}


.fa-shopping-cart {

    font-size: 250%;
    margin-right: unset;
 
}


h3{
	font-size: 175%;
}

}

@media all and (max-width: 750px) and (orientation: landscape){

main{
	display: unset;
	flex-direction: unset;
}

.column{
	width: 45%;
}

.search-container{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
}

form{
	margin-right: 1%;
}

.imgArticle{
	margin: unset;
}

#categories{
	display: flex;
	justify-content: center;
	margin-right: unset;
}

input[type=submit] {
	width: 20%;

}	

h3{
	font-size: 190%;
}

}